<h1> Welcome to BlocitOff! </h1>
<body> BlocitOff helps you focus on the things that really matter </body>
<h2> TODOS!!! </h2>
<small>New TODO? <%= link_to "New Todo", new_todo_path %></small>
<br>
<% if current_user.present? %>
<tr>
  <td> TASK </td>
  <td> Time Left </td>
</tr>
<br>
<% @todos.each do |f| %>
<tr>
  <td><%= f.description %></td>
  <td><%= f.time_left %></td>
  <td><%= link_to "Compelete", f , method: :delete %></td>
</tr>
<br>
<% end %>
<% end %>
