<h2 align="center">New TODO!</h2>
<table class="table table-bordered" align="center" style="width:400px">
<%= form_for Todo.new do |form| %>
<tr>
<td><%= form.text_area :description, rows: 3, class: 'form-control', placeholder: 'Description' %></td>
</tr>
</table>
<div align="center"><%= form.submit 'Save', class: "btn btn-success" %></div>
<% end %>

